.content{
    color: #fff;
}


@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}


.animate-fadeIn {
    animation: fadeIn 0.8s ease forwards;
}


.experience {
    padding: 80px 10%;
  }
  
  .section-title {
    font-size: 34px;
    margin-bottom: 40px;
  }
  
  .experience-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .experience-card {
    background: #111;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #222;
    transition: transform 0.3s ease;
  }
  
  .experience-card:hover {
    transform: translateY(-5px);
  }
  
  .experience-card h3 {
    font-size: 22px;
  }
  
  .experience-card h4 {
    color: #aaa;
    margin-bottom: 5px;
  }
  
  .experience-duration {
    font-size: 14px;
    color: #777;
    margin-bottom: 12px;
  }
  
  .experience-card ul {
    padding-left: 20px;
  }
  
  .experience-card li {
    margin-bottom: 6px;
  }


  .wave{
    display: inline-block;
    animation: wave-animation 2s infinite;
    transform-origin: 70% 70%;
  }

  @keyframes wave-animation{
    0% { transform: rotate(0deg);}
    10% { transform: rotate(14deg);}
    20% { transform: rotate(-8deg);}
    30% { transform: rotate(14deg);}
    40% { transform: rotate(-4deg);}
    50% { transform: rotate(10deg);}
    60% { transform: rotate(0deg);}
    100% { transform: rotate(0deg);}

  }



/* Floating image */

.profile-float {
    animation: float 6s ease-in-out infinite;
  }
  
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
  }


  /* logo */
  .logo-glow {
    background: linear-gradient(90deg,#818cf8,#c084fc,#f472b6);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: glowMove 4s linear infinite;
  }
  
  @keyframes glowMove {
    to {
      background-position: 200% center;
    }
  }